# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*             @PHS-TSA/nexus

**.dart          @PHS-TSA/nexus
/.github/        @PHS-TSA/nexus
/packages/*/assets/  @PHS-TSA/nexus
tests/           @PHS-TSA/nexus
pubspec.*        @PHS-TSA/nexus
